body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #1f1f1f;
}

.navbarWrapper {
  height: 0px;
  color: white;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.navbar {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbarBackground {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 80px;
  left: 0;
  transition: background-color 0.2s ease-in-out;
}

.defaultMenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.responsiveMenu {
  display: none;
  position: relative;
}

.defaultMenuItem {
  margin-right: 40px;
  cursor: pointer;
}

.responsiveMenuItem {
  white-space: nowrap;
  cursor: pointer;
  padding: 10px 0px;
}

#responsiveMenuContainer {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2a2a2a;
  padding: 25px;
  top: 40px;
  right: 0px;
  transition: opacity 0.1s ease-in-out;
  -webkit-box-shadow: 5px 5px 30px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 30px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 30px -13px rgba(0, 0, 0, 0.75);
}

#responsiveMenuContainer:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #2a2a2a;
  position: absolute;
  top: -5px;
  right: 13px;
  transform: rotate(45deg);
}

#knowButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
}

.sectionWrapper {
  height: 100vh;
  overflow-x: hidden;
  perspective: 1px;
  transform-style: preserve-3d;
  position: relative;
}

.imageSection {
  position: relative;
  height: 90vh;
  z-index: -1;
  transform-style: inherit;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.imageSection::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: -2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translateZ(-1px) scale(2.2);
}

.imageSection::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: -1;
  background-color: black;
  opacity: 0.4;
}

.colorSection {
  position: relative;
  min-height: 90vh;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.colorSection::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
}

.bgColor1 {
  background-color: #1f1f1f;
}

.bgColor2 {
  background-color: #2a2a2a;
}

.bgColor3 {
  background-color: black;
}

.sectionInner {
  min-height: 90vh;
  width: 80%;
  color: white;
  padding: 50px 0px;
  position: relative;
}

.title {
  font-size: 42px;
}

.subtitle {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.bgImage1::before {
  background-image: url("assets/imgs/background2.jpg");
}

.bgImage2::before {
  background-image: url("assets/imgs/background1.jpg");
}

.link {
  color: inherit;
  text-decoration: none;
}

#sectionBanner {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

@media (max-width: 700px) {
  .defaultMenu {
    display: none;
  }

  .responsiveMenu {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
  }
}

@media (max-width: 900px) {
  .navbar {
    width: 100%;
    padding: 0px 15px;
  }

  .sectionInner {
    width: 100%;
    padding: 50px 15px;
  }
}

.outlinedButton {
  border: 1px solid;
  border-color: white;
  padding: 8px 20px 8px 20px;
  cursor: pointer;
  transition: background 0.08s ease-in-out;
}

.outlinedButton:hover {
  background: white;
  color: black;
}

.gridAbout {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.gridProjects {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#sectioAbout {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

#sectionProjects {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.gridItem {
  width: 200px;
  height: 200px;
  background: #2a2a2a;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  outline: 10px solid #1f1f1f;
  outline-offset: -1px;
  padding: 20px;
}

.gridItemProject {
  width: 260px;
  height: 200px;
  background: #1f1f1f;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  outline: 10px solid #2a2a2a;
  outline-offset: -1px;
  padding: 20px;
}

.outsideItemProject {
  background: #1f1f1f;
  width: 440px;
  height: 440px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  outline: 10px solid #2a2a2a;
  outline-offset: -1px;
  padding: 20px;
}

.outsideGridProjects {
  display: flex;
  flex-flow: row wrap;
}

.line {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.textAbout {
  max-width: 400px;
}

.gridInner1 {
  width: 50%;
  background: gray;
}

.gridInner2 {
  width: 50%;
  background: white;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
}

.miniBar {
  width: 40px;
  height: 5px;
  background: white;
  margin: 10px;
}

.miniBar2 {
  width: 40px;
  height: 5px;
  background: white;
}

.logo {
  cursor: pointer;
}

#sectionTeam {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#sectionContact {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.gridTeam {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.item {
  width: 200px;
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.lineTeam {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.memberPhoto {
  border-radius: 50%;
}

.contactArea {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
}

.itemContact {
  margin: 20px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#footer {
  min-height: 200px;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
