body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #1f1f1f;
}

.navbar {
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.navbarWrapper {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.defaultMenu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.responsiveMenu {
  display: none;
}

.preSection {
  display: flex;
  justify-content: center;
  min-height: 90vh;
}

.section {
  color: white;
  width: 80%;
}

#knowButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
}

#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 42px;
}

@media (max-width: 700px) {
  .defaultMenu {
    display: none;
  }

  .responsiveMenu {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
  }
}

@media (max-width: 900px) {
  .navbarWrapper {
    width: 100%;
    padding: 0px 15px;
  }

  .section {
    color: white;
    width: 100%;
    padding: 0px 15px;
  }
}

.menuItem {
  margin-right: 40px;
  cursor: pointer;
}

.outlinedButton {
  border: 1px solid;
  border-color: white;
  padding: 8px 20px 8px 20px;
  cursor: pointer;
  transition: background 0.08s ease-in-out;
}

.outlinedButton:hover {
  background: white;
  color: black;
}

#section2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#section3 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.gridWorks {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
}

.gridProjects {
  display: flex;
  flex-flow: row wrap;
  height: 80vh;
}

.gridItem {
  width: 220px;
  height: 220px;
  background: #2a2a2a;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.textAbout {
  width: 410px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.line {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /*justify-content: flex-end;
  align-items: space-around; */
}

.gridInner1 {
  width: 50%;
  background: gray;
}

.gridInner2 {
  width: 50%;
  background: white;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
}

.gridItemProject {
  width: 270px;
  height: 270px;
  background: #2a2a2a;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.miniBar {
  width: 40px;
  height: 5px;
  background: white;
  margin: 10px;
}

.lineProject {
  display: flex;
  flex-flow: row wrap;
}

.logo {
  cursor: pointer;
}
